## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN", "NAME"], axis=1)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']       

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#classifications_to_replace = application_df['CLASSIFICATION'].value_counts() < 1000 
# classifications_to_replace = [cls for cls in classifications_to_replace if cls == True]
classifications_to_replace = application_df['CLASSIFICATION'].groupby(application_df['CLASSIFICATION']).count() < 1000 
classifications_to_replace

CLASSIFICATION
C0        True
C1000    False
C1200    False
C1230     True
C1234     True
         ...
C7200     True
C7210     True
C8000     True
C8200     True
C8210     True
Name: CLASSIFICATION, Length: 71, dtype: bool

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = [
'C7000','C1700','C4000','C5000','C1270','C2700','C2800',       
'C7100','C1300','C1280','C1230','C1400','C7200','C2300','C1240',       
'C8000','C7120','C1500','C1800','C6000','C1250','C8200','C1278','C1238',       
'C1237','C1235','C7210','C1720','C2400','C4100','C1257','C1600',        
'C0', 'C1260', 'C2710', 'C1234', 'C1246', 'C1267', 'C3200', 'C1256',
'C1370','C1236','C2190','C4200','C5200','C1248','C2600',        
'C1580','C6100','C1820','C1900','C2570','C1570','C3700',        
'C2500','C1283','C2380','C1732','C1728','C2170',        
'C4120','C8210','C4500','C1245','C2561','C2150'  ]

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
application_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [10]:
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
new_df = pd.get_dummies(application_df, columns=['AFFILIATION', 'USE_CASE', 'ORGANIZATION', 'APPLICATION_TYPE', \
                                                 'CLASSIFICATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS' ])
new_df.columns

Index(['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL', 'AFFILIATION_CompanySponsored',
       'AFFILIATION_Family/Parent', 'AFFILIATION_Independent',
       'AFFILIATION_National', 'AFFILIATION_Other', 'AFFILIATION_Regional',
       'USE_CASE_CommunityServ', 'USE_CASE_Heathcare', 'USE_CASE_Other',
       'USE_CASE_Preservation', 'USE_CASE_ProductDev',
       'ORGANIZATION_Association', 'ORGANIZATION_Co-operative',
       'ORGANIZATION_Corporation', 'ORGANIZATION_Trust',
       'APPLICATION_TYPE_Other', 'APPLICATION_TYPE_T10',
       'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3', 'APPLICATION_TYPE_T4',
       'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6', 'APPLICATION_TYPE_T7',
       'APPLICATION_TYPE_T8', 'CLASSIFICATION_C1000', 'CLASSIFICATION_C1200',
       'CLASSIFICATION_C2000', 'CLASSIFICATION_C2100', 'CLASSIFICATION_C3000',
       'CLASSIFICATION_Other', 'INCOME_AMT_0', 'INCOME_AMT_1-9999',
       'INCOME_AMT_10000-24999', 'INCOME_AMT_100000-499999',
       'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M', 'INCOME_AMT_25000-99999',
       'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M', 'SPECIAL_CONSIDERATIONS_N',
       'SPECIAL_CONSIDERATIONS_Y'],
      dtype='object')

In [12]:
new_df.describe()

,STATUS,ASK_AMT,IS_SUCCESSFUL,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,USE_CASE_CommunityServ,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
count,34299.000000,3.429900e+04,34299.000000,34299.000000,34299.000000,34299.000000,34299.000000,34299.000000,34299.000000,34299.000000,...,34299.000000,34299.000000,34299.000000,34299.000000,34299.000000,34299.000000,34299.000000,34299.000000,34299.000000,34299.000000
mean,0.999854,2.769199e+06,0.532406,0.457885,0.001866,0.538791,0.000962,0.000117,0.000379,0.011196,...,0.021225,0.015831,0.098370,0.006997,0.027843,0.109245,0.004053,0.005394,0.999213,0.000787
std,0.012073,8.713045e+07,0.498956,0.498230,0.043157,0.498500,0.031004,0.010799,0.019465,0.105217,...,0.144136,0.124825,0.297819,0.083358,0.164526,0.311951,0.063532,0.073245,0.028046,0.028046
min,0.000000,5.000000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,5.000000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,1.000000,5.000000e+03,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,1.000000,7.742000e+03,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,1.000000,8.597806e+09,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [13]:
# Split our preprocessed data into our features and target arrays
features = new_df.drop(['IS_SUCCESSFUL'], axis=1)
target = new_df['IS_SUCCESSFUL']
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(features, target, random_state=42)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [15]:
len(features.columns)

43

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=100, input_dim=len(features.columns), activation="relu")
)
# Second hidden layer
nn.add(
tf.keras.layers.Dense(units=100, activation="relu")
)
# Third hidden layer
nn.add(
tf.keras.layers.Dense(units=100, activation="relu")
)
# Fourth hidden layer
nn.add(
tf.keras.layers.Dense(units=100, activation="relu")
)
# Output layer
nn.add(
tf.keras.layers.Dense(units=1, activation="sigmoid")
)
# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               4400

 dense_1 (Dense)             (None, 100)               10100

 dense_2 (Dense)             (None, 100)               10100

 dense_3 (Dense)             (None, 100)               10100

 dense_4 (Dense)             (None, 1)                 101

=================================================================
Total params: 34,801
Trainable params: 34,801
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Compile the model
nn.compile(loss="huber_loss", optimizer="Nadam", metrics=["accuracy"])

In [18]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 7s 5ms/step - loss: 0.0960 - accuracy: 0.7213
Epoch 2/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0933 - accuracy: 0.7297
Epoch 3/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0928 - accuracy: 0.7317
Epoch 4/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0924 - accuracy: 0.7317
Epoch 5/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0921 - accuracy: 0.7317
Epoch 6/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0920 - accuracy: 0.7323
Epoch 7/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0916 - accuracy: 0.7337
Epoch 8/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0916 - accuracy: 0.7344
Epoch 9/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0914 - accuracy: 0.7352
Epoch 10/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0913 - accuracy: 0.7343
Epoch 11/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0913 - accuracy: 0.7354
Epoch 12/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0911 - accuracy: 0.7357
Epoch 13/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0909 - accuracy: 0.7363
Epoch 14/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0909 - accuracy: 0.7360
Epoch 15/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0908 - accuracy: 0.7373
Epoch 16/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0907 - accuracy: 0.7366
Epoch 17/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0907 - accuracy: 0.7367
Epoch 18/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0906 - accuracy: 0.7365
Epoch 19/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0908 - accuracy: 0.7365
Epoch 20/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0906 - accuracy: 0.7364
Epoch 21/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0905 - accuracy: 0.7373
Epoch 22/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0904 - accuracy: 0.7377
Epoch 23/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0905 - accuracy: 0.7388
Epoch 24/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0903 - accuracy: 0.7371
Epoch 25/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0903 - accuracy: 0.7373
Epoch 26/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0902 - accuracy: 0.7379
Epoch 27/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0903 - accuracy: 0.7378
Epoch 28/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0901 - accuracy: 0.7372
Epoch 29/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0902 - accuracy: 0.7390
Epoch 30/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0901 - accuracy: 0.7381
Epoch 31/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0901 - accuracy: 0.7383
Epoch 32/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0901 - accuracy: 0.7385
Epoch 33/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0900 - accuracy: 0.7385
Epoch 34/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0901 - accuracy: 0.7394
Epoch 35/100
804/804 [==============================] - 4s 5ms/step - loss: 0.0899 - accuracy: 0.7388
Epoch 36/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0899 - accuracy: 0.7390
Epoch 37/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0899 - accuracy: 0.7395
Epoch 38/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0900 - accuracy: 0.7389
Epoch 39/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0897 - accuracy: 0.7397
Epoch 40/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0899 - accuracy: 0.7392
Epoch 41/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0898 - accuracy: 0.7402
Epoch 42/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0897 - accuracy: 0.7396
Epoch 43/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0899 - accuracy: 0.7393
Epoch 44/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0898 - accuracy: 0.7400
Epoch 45/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0899 - accuracy: 0.7391
Epoch 46/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0898 - accuracy: 0.7395
Epoch 47/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0896 - accuracy: 0.7395
Epoch 48/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0898 - accuracy: 0.7395
Epoch 49/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0897 - accuracy: 0.7395
Epoch 50/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0897 - accuracy: 0.7400
Epoch 51/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0895 - accuracy: 0.7399
Epoch 52/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0896 - accuracy: 0.7395
Epoch 53/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0896 - accuracy: 0.7397
Epoch 54/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0896 - accuracy: 0.7399
Epoch 55/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0897 - accuracy: 0.7397
Epoch 56/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0896 - accuracy: 0.7397
Epoch 57/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0896 - accuracy: 0.7395
Epoch 58/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0895 - accuracy: 0.7404
Epoch 59/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0896 - accuracy: 0.7396
Epoch 60/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0897 - accuracy: 0.7394
Epoch 61/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0895 - accuracy: 0.7402
Epoch 62/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0894 - accuracy: 0.7403
Epoch 63/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0894 - accuracy: 0.7404
Epoch 64/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0893 - accuracy: 0.7403
Epoch 65/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0895 - accuracy: 0.7395
Epoch 66/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0894 - accuracy: 0.7398
Epoch 67/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0895 - accuracy: 0.7408
Epoch 68/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0894 - accuracy: 0.7401
Epoch 69/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0895 - accuracy: 0.7408
Epoch 70/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0894 - accuracy: 0.7405
Epoch 71/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0893 - accuracy: 0.7403
Epoch 72/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0893 - accuracy: 0.7405
Epoch 73/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0893 - accuracy: 0.7406
Epoch 74/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0894 - accuracy: 0.7402
Epoch 75/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0893 - accuracy: 0.7407
Epoch 76/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0893 - accuracy: 0.7402
Epoch 77/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0893 - accuracy: 0.7406
Epoch 78/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0893 - accuracy: 0.7401
Epoch 79/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0893 - accuracy: 0.7402
Epoch 80/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0892 - accuracy: 0.7411
Epoch 81/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0893 - accuracy: 0.7407
Epoch 82/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0893 - accuracy: 0.7407
Epoch 83/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0895 - accuracy: 0.7400
Epoch 84/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0893 - accuracy: 0.7402
Epoch 85/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0893 - accuracy: 0.7407
Epoch 86/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0893 - accuracy: 0.7406
Epoch 87/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0893 - accuracy: 0.7406
Epoch 88/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0892 - accuracy: 0.7411
Epoch 89/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0893 - accuracy: 0.7410
Epoch 90/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0892 - accuracy: 0.7409
Epoch 91/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0893 - accuracy: 0.7402
Epoch 92/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0893 - accuracy: 0.7413
Epoch 93/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0892 - accuracy: 0.7411
Epoch 94/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0891 - accuracy: 0.7408
Epoch 95/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0892 - accuracy: 0.7409
Epoch 96/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0891 - accuracy: 0.7411
Epoch 97/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0891 - accuracy: 0.7412
Epoch 98/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0891 - accuracy: 0.7415
Epoch 99/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0891 - accuracy: 0.7412
Epoch 100/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0890 - accuracy: 0.7413

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.0944 - accuracy: 0.7299 - 521ms/epoch - 2ms/step
Loss: 0.09443364292383194, Accuracy: 0.729912519454956

In [20]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization2.h5")